body {
    font-family: Raleway;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.links {
    float: right;
    margin: 5px 0px 0px 2%;
}

.stuff {
    background-color: rgb(0, 0, 0); 
    padding-bottom: 40px;
}

.letters {
  color: whitesmoke;
  margin: 0% 2% 0% 0%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}



.second-block {
    background-color: white;
}

.onepicture {
    background-color: black;
    margin: 10px 0.5% 0px 0.5%;
    width: 49%;
    border-radius: 10px;

}.pictureman {
    width: 100%;
    background-color: black;
    border-radius: 10px;
}